name: Test Runner
on:
  push:
    branches:
      - main

jobs:
  test-runner:
    runs-on: self-hosted  # Indispensable pour cibler votre machine [cite: 70]
    steps:
      - name: Verification
        run: echo "Test de fonctionnement du Runner sur Debian 13 !"
      - name: Tests de commandes
        run: |
          whoami
          hostname
          uname -a
